$background-color: #121211;
$text-color: #b7b5b4;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit,
}

html {
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: .04em;
  line-height: 1.8em;
  text-transform: uppercase;
  color: $text-color;
}

body {
  background-color: $background-color;
  list-style: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

::placeholder {
  color: $text-color;
}
