$background-color: #121211;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit,
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $background-color;
}
