// --- Concerts

.concert-list {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 40px;

  &__concert {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    opacity: 0;
    -webkit-animation: fade-in ease-in 1;
    -moz-animation: fade-in ease-in 1;
    animation: fade-in ease-in 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;


    &-date {
      width: 20%;
      text-align: left;
    }

    &-location {
      position: relative;
      display: flex;
      width: 60%;
    }

    &-city {
      width: 50%;
      text-align: left;
    }

    &-avenue {
      width: 50%;
      text-align: left;
    }

    &-btn {
      width: 20%;
    }

  }

}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    top: 100px;
  }

  75% {
    opacity: 0.5;
    top: 0px;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    top: 100px;
  }

  75% {
    opacity: 0.5;
    top: 0px;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    top: 100px;
  }

  75% {
    opacity: 0.5;
    top: 0px;
  }

  100% {
    opacity: 1;
  }
}
